.main {
  display: grid;
  flex: 0 0 auto;
  grid-template-columns: 50% 50%;
  gap: 1.625rem;
  padding: 0 2.5rem;
}

@media (max-width: 768px) {
  .main {
    padding: 0 1.25rem;
  }
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 100%;
  }
}

.main__devices {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 1024px) {
  .main__devices {
    grid-column-end: 2;
  }
}

.section__title-header {
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
  color: #333333;
}

.section__title {
  display: flex;
  align-items: baseline;
  margin: 0 0 1.25rem 0;
}

@media (max-width: 768px) {
  .section__title {
    gap: 1rem;
  }

  .section__main-title {
    display: none;
  }
}

.section__select {
  display: none;
  margin: 0 0 0 auto;
  padding: 0.4375rem 1.9375rem 0.5rem 1rem;
  border: none;
  border-radius: 1.25rem;
  font-size: 0.8125rem;
  font-family: inherit;
  font-weight: bold;
  background: no-repeat calc(100% - 1rem) 50% #ffd93e
    url(../../assets/arrow-down.svg);
  appearance: none;
}

@media (max-width: 768px) {
  .section__select {
    display: block;
  }
}

.section__tabs {
  display: flex;
  gap: 0.625rem;
  align-items: baseline;
  margin: 0 0 0 0.8125rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .section__tabs {
    display: none;
  }
}

.section__tab {
  flex: 0 0 auto;
  padding: 0.4375rem 0.9375rem 0.5rem;
  font-size: 0.8125rem;
  font-weight: bold;
  background: #f7f7f7;
  border-radius: 1024px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  transition-property: background-color, box-shadow;
}

.section__tab_active {
  background: #ffd93e;
}

.section__tab:not(.section__tab_active):hover {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.section__panel {
  padding-bottom: 0.625rem;
  overflow-x: auto;
  scrollbar-width: none;
}

.section__panel::-webkit-scrollbar {
  display: none;
}

.section__panel_hidden {
  display: none;
}

.section__panel-list {
  display: flex;
  gap: 0.9375rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__panel-wrapper {
  position: relative;
}

.section__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  bottom: 10px;
  background: no-repeat 50% 50% url(/assets/arrow-left.webp);
  transform: rotate(180deg);
  cursor: pointer;
}

.section__arrow:hover {
  opacity: 0.7;
}
