.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.9375rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .grid {
    display: flex;
    padding-bottom: 0.3125rem;
    overflow: auto;
    scrollbar-width: none;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }
}
